<div data-ng-controller="ApprovalsCtrl">


    <div class="row">
        <div class="col-lg-12 col-xs-12 blackLinks">
            <rd-widget>
                <rd-widget-body classes="minHeight">
                    <h1>Auto onderdeel goedkeuren</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Eigenaar</th>
                                <th>Kenteken</th>
                                <th>Onderhoud gedaan:</th>
                                <th>Goedkeuren</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in maintenance">
                                <td>{{item.Name}}</td>
                                <td>{{item.Owner}}</td>
                                <td>{{item.License_plate}}</td>
                                <td>{{item.description}}</td>
                                <td><a href="" ng-click="approve(item.id)"><i class="fa fa-check"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

    <h1>RDW only</h1>
    <hr />
    <div class="row">
        <div class="col-lg-12 col-xs-12 blackLinks">
            <rd-widget>
                <rd-widget-body classes="minHeight">
                    <h1>Auto mogelijkheden goedkeren</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Chassisnummer</th>
                            <th>Description</th>
                            <th>Goedkeuren</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in features">
                            <td>{{item.Car_id}}</td>
                            <td>{{item.description}}</td>
                            <td><a href="" ng-click="approveFeature(item.id)"><i class="fa fa-check"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>
