<div data-ng-controller="ApprovalsCtrl">
    <div class="row" ng-show="username != 'rdw'">
        <div class="col-lg-12 col-xs-12 blackLinks">
            <rd-widget>
                <rd-widget-body classes="minHeight">
                   <h1>Aanpassing:</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus architecto at cum ea, est, et facilis minima nulla porro sint, sunt. Aperiam aspernatur, dignissimos eum fugit harum soluta ullam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, autem commodi corporis, cumque harum ipsam labore mollitia nisi quaerat quasi quo quos reprehenderit rerum, sequi sunt tempora! Architecto, sed.
                    </p>
                    <a class="btn btn-success pull-right">Goedkeuren</a>
                    <div class="clearfix"></div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

    <div class="row" ng-show="username == 'rdw'">
        <div class="col-lg-12 col-xs-12 blackLinks">
            <rd-widget>
                <rd-widget-body classes="minHeight">
                    <h1>Auto onderdeel goedkeren</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus architecto at cum ea, est, et facilis minima nulla porro sint, sunt. Aperiam aspernatur, dignissimos eum fugit harum soluta ullam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, autem commodi corporis, cumque harum ipsam labore mollitia nisi quaerat quasi quo quos reprehenderit rerum, sequi sunt tempora! Architecto, sed.
                    </p>
                    <a class="btn btn-success pull-right">Goedkeuren</a>
                    <div class="clearfix"></div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

</div>
