<div data-ng-controller="CarEditCtrl">
    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-body classes="minHeight">
                <h1>Editing car: </h1>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-body classes="minHeight">
                    <textarea class="form-control" style="margin-bottom:20px;"></textarea>
                    <a ng-click="" id="submit" name="submit" class="btn btn-success pull-right">Data toevoegen</a>
                    <div class="clearfix"></div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>