<div data-ng-controller="CarsCtrl">
    <div class="row">
        <div class="col-lg-12 col-xs-12 blackLinks">
            <rd-widget>
                <rd-widget-body classes="minHeight">
                    <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="searchText.search" placeholder="Search for...">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="date" name="From">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="date" name="From">
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option ng-repeat="car in cars">{{car.name}}</option>
                        </select>
                    </div>

                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
    <div class="row">
        <a ng-repeat="car in cars | filter:searchText.search " href = "#/cars/details" class="col-lg-6 col-xs-12 blackLinks">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </div>
                    <div class="title">{{car.name}}</div>
                    <div class="comment">
                        <span>{{car.licenseplate}}</span><br />
                    </div>
                </rd-widget-body>
            </rd-widget>
        </a>
    </div>
</div>
